@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*Declaração de variáveis*/
:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030c;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

.principal {
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1rem;
    color: var(--branco-principal);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    display: flex;
}

.botao__secundario {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid var(--branco-principal);
}

.container__aviso {
    color: var(--cinza-secundario);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}